*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{

    background:#0f172a;
}

.auth-container{

    min-height:100vh;

    display:flex;
}

.left-panel{

    width:55%;

    background:linear-gradient(135deg,#0f172a,#1e3a8a);

    color:white;

    padding:80px;

    display:flex;

    flex-direction:column;

    justify-content:center;
}

.logo{

    display:flex;

    align-items:center;

    gap:15px;

    margin-bottom:40px;
}

.logo i{

    font-size:45px;

    color:#22c55e;
}

.logo h1{

    font-size:42px;

    font-weight:bold;
}

.left-panel h2{

    font-size:36px;

    margin-bottom:20px;
}

.left-panel p{

    color:#cbd5e1;

    font-size:18px;

    line-height:1.8;

    margin-bottom:40px;
}

.feature-box{

    display:flex;

    flex-direction:column;

    gap:20px;
}

.feature{

    display:flex;

    align-items:center;

    gap:15px;

    font-size:18px;
}

.feature i{

    color:#22c55e;

    font-size:24px;
}

.right-panel{

    width:45%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#111827;
}

.login-card{

    width:420px;

    background:#1e293b;

    border-radius:20px;

    padding:45px;

    color:white;

    box-shadow:0 20px 60px rgba(0,0,0,.4);
}

.login-card h2{

    font-size:34px;

    margin-bottom:10px;
}

.login-card p{

    color:#94a3b8;
}

.tabs{

display:flex;

margin-bottom:35px;

border-radius:12px;

overflow:hidden;

background:#111827;

}

.tab-btn{

width:50%;

padding:15px;

border:none;

background:transparent;

color:white;

font-size:18px;

cursor:pointer;

transition:.3s;

}

.tab-btn.active{

background:#22c55e;

}

.form-group{

margin-bottom:20px;

}

.form-group label{

margin-bottom:8px;

display:block;

color:#cbd5e1;

}

.form-control{

background:#111827;

border:1px solid #334155;

color:white;

padding:12px;

}

.form-control:focus{

background:#111827;

color:white;

border-color:#22c55e;

box-shadow:none;

}

.auth-btn{

width:100%;

padding:13px;

margin-top:10px;

font-size:18px;

}